<section>
    <div class="flex justify-between items-center mb-6">
        <div class="w-1/2">
            <input type="text" id="search" class="w-full p-3 border border-gray-300 rounded-lg"
                placeholder="Filter by name/email">
        </div>
        <button id="searchButton" class="m-4 p-3 bg-blue-500 rounded-lg">Search</button>
    </div>

    <div class="flex mb-4">
        <div class="mr-4">
            <label for="sortBy" class="text-sm font-medium text-gray-700">Sort by</label>
            <select id="sortBy" class="p-2 border border-gray-300 rounded-lg">
                <option value="name">user name</option>
                <option value="email">email</option>
                <option value="registration">registration time</option>
            </select>
        </div>

        <div class="mr-4">
            <label for="order" class="text-sm font-medium text-gray-700">Order</label>
            <select id="order" class="p-2 border border-gray-300 rounded-lg">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
        </div>
    </div>

    <div id="userList" class="overflow-x-auto bg-white p-4 rounded-lg shadow-md">
        <div class="overflow-x-auto bg-white p-4 rounded-lg shadow-md">
            <table class="min-w-full table-auto">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="px-4 py-2 text-left">Name</th>
                        <th class="px-4 py-2 text-left">Email</th>
                        <th class="px-4 py-2 text-left">Role</th>
                        <th class="px-4 py-2 text-center">Status</th>
                        <th class="px-4 py-2 text-center">Active</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr class="border-b">
                        <td class="px-4 py-2 text-left">{{this.user_name}}</td>
                        <td class="px-4 py-2 text-left">{{this.email}}</td>
                        <td class="px-4 py-2 text-left">{{this.role_name}}</td>
                        <td class="px-4 py-2 text-center">
                            <span
                                class="{{#if this.active}}bg-green-500{{else}}bg-gray-500{{/if}} text-black px-3 py-1 rounded-full">
                                {{#if this.active}}Active{{else}}InActive{{/if}}
                            </span>
                        </td>
                        <td class="px-4 py-2 text-center">
                            <button class="text-blue-500 hover:text-blue-700">change</button>
                            <button class="ml-2 text-red-500 hover:text-red-700">delete</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div id="pagination" class="flex justify-center mt-6">
        {{#if pagination}}
        <ul class="flex">
            {{#each pagination}}
            <li class="mx-1">
                <a href="?page={{this}}" class="px-4 py-2 text-blue-500 hover:text-blue-700">{{this}}</a>
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</section>

<script src="/js/accountManagement.js"></script>