<section class="p-4 w-full flex flex-col bg-gray-100">
  <!-- Title -->
  <div class="text-blue-700 text-2xl font-bold mb-4">
    Home Dashboard
  </div>

  <!-- Dashboard Content -->
  <div class="flex flex-col space-y-6">
    <!-- Topics -->
    <div class="flex flex-row justify-around items-center w-full">
      <!-- Attraction Topic -->
      <div class="bg-white p-4 rounded-lg shadow-lg w-1/4">
        <h4 class="text-blue-700 text-xl font-bold mb-2">Tour</h4>
        <div class="text-5xl font-bold text-gray-900 mb-4">
          {{numberTour.total_tour}}
        </div>
        <div class="border-b border-gray-300 mb-4"></div>
        <div class="flex justify-between text-lg">
          <span>Average Rating:</span>
          <span>{{numberTour}}</span>
        </div>
      </div>

      <!-- Facility Topic -->
      <div class="bg-white p-4 rounded-lg shadow-lg w-1/4">
        <h4 class="text-blue-700 text-xl font-bold mb-2">Reservation</h4>
        <div class="text-5xl font-bold text-gray-900 mb-4">
          {{numberReservation.total}}
        </div>
        <div class="border-b border-gray-300 mb-4"></div>
        <div class="text-lg">
          <div>Hotel: {{numberReservation.waiting_count}}</div>
          <div>Restaurant: {{numberReservation.reserve_count}}</div>
        </div>
      </div>

      <!-- User Topic -->
      <div class="bg-white p-4 rounded-lg shadow-lg w-1/4">
        <h4 class="text-blue-700 text-xl font-bold mb-2">User</h4>
        <div class="text-5xl font-bold text-gray-900 mb-4">0</div>
        <div class="border-b border-gray-300 mb-4"></div>
        <div class="text-lg">
          <div>Tourist: {{numberUser.total_tourists}}</div>
          <div>Admin: {{numberUser.total_admins}}</div>
        </div>
      </div>
    </div>

    <!-- Top Attractions -->
    <div class="bg-white p-4 rounded-lg shadow-lg">
      <h4 class="text-blue-700 text-xl font-bold mb-4">Top Attraction</h4>
      <div class="grid grid-cols-4 gap-4">
        {{#each bestTour}}
        <div class="border rounded-lg shadow p-4">
          <div class="overflow-hidden rounded-t-lg">
            <img src="{{this.img_url}}" alt="Attraction" class="w-full h-48 object-cover" />
          </div>
          <div class="text-lg font-bold mt-2">{{this.title}}</div>
          <div class="text-gray-600 mt-1">Rating: {{this.rate}}</div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>